
.border{
            border: 1px solid #ef3b24 !important;
            border-radius: 15px !important;
            text-align: center;

        }
h1{
          text-align: center;
          color : #ef3b24;
        }
button{

   display: block;
   margin : auto;
   display: inline-block;
   margin-bottom : 2%;
}
input{
            background-color: #afafaf;
        }

