{% extends 'base.html.twig' %}

{% block title %}Confirmation de votre demande{% endblock %}

{% block body %}



    <main class="mt-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <table class="table">
                            <thead class="black white-text">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Prenom</th>
                                <th scope="col">email</th>
                                <th scope="col">Type de résine</th>
                                <th scope="col">Méthode d'application</th>
                                <th scope="col">Type de formulation</th>
                                <th scope="col">Résine fournie/Naxagoras</th>
                                <th scope="col">Fonction</th>
                                <th scope="col">Quantité</th>
                                <th scope="col">Complément d'information</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>test</td>
                                <td>test</td>
                                <td>test</td>
                                <td>test</td>
                                <td>test</td>
                                <td>test</td>
                                <td>test</td>
                                <td>test</td>
                                <td>test</td>
                                <td>test</td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}