{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light white fixed-top scrolling-navbar">

      <div class="container">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">Naxagoras</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>

          </ul>
          <!-- Links -->

          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->

      </div>

  </nav>
  <!--/.Navbar-->

  <main class="mt-5 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              
              <form class="text-center p-5" action="#!">

                  <p class="h4 mb-4">Thermoplastiques</p>

                  <div class="form-row mb-4">
                      <div class="col">
                          <input type="text" id="Poly" class="form-control" placeholder="Type de polymère">
                      </div>
                      <div class="col">
                          <input type="text" id="Method" class="form-control" placeholder="Méthode de transformation">
                      </div>
                  </div>
                  <div>
                  <input type="radio" id="Choice1"
                   name="choice" value="Masterbatch">
                  <label for="Choice1">Masterbatch compatible accepté</label>

                  <input type="radio" id="Choice2"
                   name="choice" value="Machin">
                  <label for="Choice2">Truc je sais plus quoi</label>
                </div>
                <div class="form-row mb-4">
                  <input type="text" id="MFI" class="form-control" placeholder="MFI de la résine de base">
                </div>
              
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %}

