{% extends "base.html.twig" %}
{% block body %}
<div class="container">
	<div class="row text-center">
		<a class="col-md-6 choix" href="{{path('form')}}"><div>Thermoplastique</div></a>	
		<a class="col-md-6 choix" href="{{path('form2')}}"><div>Coating</div></a>
	</div>
</div>
{% endblock %}